body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

.scene {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: black;

    margin: 0;
    padding: 0;
}

.background {
    position: absolute;
    width: auto;
    height: 100%;
    object-fit: cover;
    margin: 0;
}

.object {
    position: absolute;
    z-index: 2;
    height: auto;
}

#rampatrapArm {
    transform: rotate(350deg);
    transform-origin: top left;
    animation: rotateArm 1.5s linear infinite;
}

@keyframes rotateArm {
    0% {
        transform: rotate(220deg);
    }

    50% {
        transform: rotate(200deg);
    }

    100% {
        transform: rotate(220deg);
    }
}

.textBox {
    background-color: #FAC05A;
    color: #28192F;

    text-align: center;

    height: auto;

    z-index: 2;
}

#decisionBox {
    position: fixed;
    top: 5vw;
    right: 5vw;
}

#bike{
    background-color: #cf573c;
    padding: 1.5vw;
    border-radius: 50px;

    animation: changeColor 10s linear infinite;
}

#car{
    background-color: #402751;
    padding: 1.5vw;
    border-radius: 50px;
}

@keyframes changeColor {
    0% {
        background-color: #cf573c00;
    }
    40% {
        background-color: #cf573c00;
    }
    50% {
        background-color: #cf573c;
    }
    60% {
        background-color: #cf573c00;
    }
    100% {
        background-color: #cf573c00;
    }
}