body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

.scene {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: black;

    margin: 0;
    padding: 0;
}

.bg {
    position: absolute;
    width: auto;
    height: 100%;
    object-fit: cover;
    margin: 0;
}

.object {
    position: absolute;
    z-index: 2;
    height: auto;
}

#rampatrapArm {
    transform: rotate(350deg);
    transform-origin: top left;
    animation: rotateArm 1.5s linear infinite;
}

@keyframes rotateArm {
    0% {
        transform: rotate(220deg);
    }

    50% {
        transform: rotate(200deg);
    }

    100% {
        transform: rotate(220deg);
    }
}

.textBox {
    background-color: #FAC05A;
    color: #28192F;

    text-align: center;

    height: auto;
}

#introduction {
    position: fixed;
    top: 5vw;
    right: 5vw;
}